/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */

/* istanbul ignore file */
/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

/* Contains styling for the plot axis labels. */
.xLabelText,
.yLabelText {
  text-anchor: end;
  cursor: pointer;
}

.xLabelText:hover {
  /* filter: drop-shadow(1px 1px 0.4px #80808078); */
  text-decoration: underline;
}
.yLabelText:hover {
  /* filter: drop-shadow(1px 1px 0.4px #80808000); */
  text-decoration: underline;
}
