/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */

/* istanbul ignore file */
/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/
.attributeAnalyticsPopupMenu {
  background-color: white;
  position: relative;
  z-index: 11 !important;
  width: 160px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  .closeButtonWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-width: 1px;

    #closeButton {
      width: 50%;
      font-size: inherit;

      border-radius: 5px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
    }
  }

  .title {
    border-bottom: solid;
    border-width: 1px;
    font-size: 14px;

    #name {
      font-weight: bold;
    }
  }

  .bar {
    padding: 3px 2px;
  }

  .attributesWrapper {
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
    border-top: 1px solid black;
  }

  .attributesAccordion.Mui-expanded {
    margin: 0px 0px 2px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
  }

  .attributesAccordion.MuiPaper-elevation1 {
    box-shadow: none;
  }
  .attributesAccordion.MuiAccordion-rounded:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .attribute {
    // background-color: aquamarine;
    padding: 2px 4px;
    border-bottom: 1px solid black;
    width: auto;
    height: 20px;
    font-size: 11px;
    min-height: 25px;
  }
  .attribute.Mui-expanded {
    min-height: 25px;
    margin: 0px 0px;
    box-shadow: 2px 2px 6px #afafaf;
  }

  .accordionDetails {
    display: block;
    padding: 2px 4px;
    font-size: 10px;
    width: 90%;
    margin: 0px auto;
  }

  .nullAmountValue {
    float: right;
    right: 0px;
    padding: 1px 3px;
    border-radius: 2px;
  }

  .visualisationEye {
    height: 10px;
    width: auto;
    margin-top: 2px;
    padding-right: 5px;
  }

  .expandIcon {
    height: 10px;
    width: auto;
  }

  .rightSideValue {
    float: right;
  }

  .attributeButtons {
    padding: 3px;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    text-align: center;
  }

  .attributeButtons:hover {
    background-color: aquamarine;
  }
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #e9e9e9;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e9e9e9;
}

*::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
  border: 3px solid #e9e9e9;
}
