/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */


/* istanbul ignore file */


/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

// Styling for the NodeLinkConfigPanel
.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  p {
    margin: 0.5rem 0;
    font-size: 13px;
    font-weight: 600;
    color: #2d2d2d;
  }
  .title {
    color: #212020;
    font-weight: 800;
    line-height: 1.6em;
    font-size: 16px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 10px;
  }
  .subtitle {
    color: #212020;
    font-weight: 700;
    font-size: 14px;
    margin-top: 1.5rem;
  }
  .subsubtitle {
    font-weight: 700;
    margin-top: 0.9rem;
  }
  .subContainer {
    .rulesContainer {
      margin-top: 0.5rem;
      .subsubtitle {
        text-align: center;
      }
    }
  }
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  select {
    width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    option {
      width: 35px;
      text-overflow: ellipsis;
    }
  }
}

#Slider {
  width: 80%;
  margin-left: 20px;
}