//This file wasn't made or edited by GravenvanPolaris.
/* istanbul ignore file */
// Styling for the HivePlotsConfigPanel

.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;

  p {
    margin: 0.5rem 0;
    font-size: 13px;
    font-weight: 600;
    color: #2d2d2d;
  }

  .title {
    color: #212020;
    font-weight: 800;
    line-height: 1.6em;
    font-size: 16px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .subtitle {
    color: #212020;
    font-weight: 700;
    font-size: 14px;
    margin-top: 1.5rem;
  }
  .subsubtitle {
    font-weight: 700;
    margin-top: 0.9rem;
  }

  .deleteButton {
    color: darkred;
    text-decoration: underline;
    transition: color 0.1s;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .subContainer {
    margin: 0 10px;

    .axisContainer {
      margin-top: 0.5rem;

      .singleAxisContainer {
        position: relative;
        margin-top: 1.2rem;

        .subsubtitle {
          text-align: center;
          margin-bottom: 2px;
        }

        .selectContainer {
          justify-content: space-between;
        }

        .deleteButton {
          position: absolute;
          top: 0;
          right: 1rem;
          margin-top: 0;
        }
      }
    }

    .addAxisButtonContainer {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  select {
    width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;

    option {
      width: 35px;
      text-overflow: ellipsis;
    }
  }
}
