//This file wasn't made or edited by GravenvanPolaris.
/* istanbul ignore file */
/** Styling for HivePlotsComponent html */

.container {
  height: 100%;
  position: relative;

  p {
    font-family: 'Open Sans', sans-serif;
  }

  .visContainer {
    height: 100%;
    overflow-y: auto;
    transform: scale(-1, 1);

    .title {
      text-align: center;
      font-size: 16px;
      font-weight: 800;
    }

    .hivePlotsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 1rem 2rem 0 0;

      @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      .hivePlotContainer {
        margin: 0;

        .hivePlotText {
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-weight: bold;
          opacity: 0.7;
        }
      }
    }
  }

  .nodeInfoContainer {
    position: absolute;
    bottom: 0;
    left: 1.5rem;

    p {
      margin: 0;
      opacity: 0.6;
      color: grey;
      font-size: 11px;
    }
  }
}
