/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */

/* istanbul ignore file */
/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/
/** Stylesheet for the VisConfigPanelComponent */
$expandButtonSize: 13px;

:export {
  expandButtonSize: $expandButtonSize;
}

.container {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #f0f0f0;

  transition: right 0.2s, left 0.2s;
  z-index: 100;

  border-radius: 0 0 0 5px;

  .expandButton {
    position: absolute;
    height: 100%;
    width: $expandButtonSize;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 0 0 0 5px;

    &:hover {
      background-color: rgb(230, 230, 230);
    }

    svg {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -0.5em;
    }
    .arrowLeft {
      transform: rotate(180deg);
    }
  }

  .childrenContainer {
    width: 100%;
    height: 100%;
    padding: 15px;

    .children {
      width: 100%;
      height: 100%;

      overflow-x: hidden;
      overflow-y: auto;

      // SCROLLBAR STYLING
      /* Works on Firefox */
      scrollbar-width: thin;
      scrollbar-color: #bebebe #f0f0f0;

      /* Works on Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bebebe;
        border-radius: 20px;
        border: 3px solid #f0f0f0;
      }
    }
  }
}

/* .expandButton::after {
  content: '<';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: block;
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -0.5em;
} */
