/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */
 .errorsComponent {
     &.hidden {
         display: none;
     }

     .errorBox {
        padding: 10px;
        width: 300px;
        margin-left: 20px;
        margin-top: 10px;
        position: absolute;
        z-index: 999;

        button{
            background: none;
            border: none;
            font-weight: bolder;
            font-size: 16px;
            float: right;

            &:hover{
                cursor: pointer;
            }
        }

        h1 {
            font-size: 20px;
            margin-bottom: 0;
        }

        p {
            margin-top: 5px;
        }
     }
 }