/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */


/* istanbul ignore file */


/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

.functionsMenu {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 85%;
  height: 40px;
  z-index: 5;
  .button {
    background-color: #fffdfa;
    color: black;
    font-size: 14px;
    border: 1px solid #eee;
    height: -webkit-fill-available;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    &:not(.disabled):hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }
  .functionsMenuButton {
    padding: 0px 10px;
    text-align: left;
  }
  .functionsMenuFoldButton {
    float: left;
    font-weight: bold;
    z-index: 6;
  }
  .functionsMenuWrapper {
    display: block;
    width: calc(100% - 260px);
    height: 100%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: -5px;
    z-index: -1;
    .functionsMenuContent {
      left: -100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 40px;
      position: absolute;
      transition: left 0.3s;
      background-color: #eee;
      width: 100%;
      &::before {
        content: '';
        position: absolute;
        left: -10px;
        right: 100%;
        top: 0px;
        bottom: 0px;
        background-color: #eee;
      }
      .functionsMenuSlider {
        left: 10px;
        right: 40px;
        height: 100%;
        position: absolute;
        overflow: hidden;
      }
      .functionsMenuFunctions {
        height: 100%;
        position: absolute;
        display: inline-flex;
        transition: left 0.2s;
        white-space: nowrap;
        .functionsMenuButton {
          min-width: 100px;
          padding-right: 50px;
          position: relative;
          display: inline-block;
          .functionsMenuButtonInfo {
            text-align: center;
            color: #ddd;
            font-weight: bold;
            border: 2px solid #ddd;
            background-color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            bottom: 8px;
            margin-left: 10px;
            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
      .functionsMenuCarousel {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40px;
        .functionsMenuCarouselButton {
          width: 50%;
          height: 100%;
          padding: 0;
          span {
            opacity: 1;
          }
          &.disabled {
            span {
              opacity: 0.2;
            }
          }
        }
      }
      &.visible {
        left: 0;
      }
    }
  }
  .functionsMenuInfo {
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
    background-color: #eee;
    display: none;
    opacity: 0;
    transition: opacity 0.1s;
    &.visible {
      opacity: 1;
    }
    &.enabled {
      display: block;
    }
  }
}