.attributes {
    .attribute {
        width: 100%;
        display: inline-block;
        position: relative;

        p {
            float: left;
            margin: 0;
        }

        .checkbox {
            position: absolute;
            right: 10px;
            top: 2px;
        }
    }
}

.nodeSelector {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}