/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */


/* istanbul ignore file */


/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

.makePaohvisMenu {
  display: flex;
  gap: 1em;
  margin: 1em;
  .textFieldMakePaohvisMenu {
    min-width: 120px;
  }
}

#reverseButtonLabel {
  font-size: 17px;
  color: inherit;
}

#makeButton {
  height: 40px;
  margin-right: 5em;
  font-weight: bold;
}