/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */


/* istanbul ignore file */


/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

// Styling for the PaohvisFilterComponent
.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  p {
    font-size: 13px;
    font-weight: 600;
    color: #2d2d2d;
    display: list-item;
  }
  .title {
    color: #212020;
    font-weight: 800;
    line-height: 1.6em;
    font-size: 16px;
    margin-bottom: 0.4rem;
    margin-top: 0.1;
    padding-left: 10px;
  }
  .subtitle {
    color: #212020;
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.selectContainer {
  display: block;
  justify-content: space-around;
  select {
    width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    option {
      width: 35px;
      text-overflow: ellipsis;
    }
  }
}