/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */


/* istanbul ignore file */


/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

$tableFontFamily: Arial,
Helvetica,
sans-serif;
$tableFontSize: 0.875rem;
$tableFontWeight: 600;
:export {
  tableFontFamily: $tableFontFamily;
  tableFontSize: $tableFontSize;
  tableFontWeight: $tableFontWeight;
}

.container {
  height: 100%;
  position: relative;
  .visContainer {
    height: 100%;
    overflow-y: auto;
    transform: scale(-1, 1);
    /** 
    * this fixes the horizontal scrollbar to the bottom of the visContainer,
    * the transform of the visContainer and the transform of the child div should both be removed for it to work
    * but the position of the svgs and paohvis are not good, so don't use it yet
    * overflow-x: auto;
    * width: 100%;
    * display: flex;
    */
  }
  text {
    font-family: $tableFontFamily;
    font-size: $tableFontSize;
    font-weight: $tableFontWeight;
  }
  #tableMessage {
    margin: 1em;
  }
  #configPanelMessage {
    margin: 1em;
  }
}