/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */

/* istanbul ignore file */
/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

.attributeAnalyticsPopupMenu {
  background-color: white;
  position: relative;
  z-index: 11 !important;
  width: 160px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;

  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 5px !important;

  .closeButtonWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-width: 1px;

    #closeButton {
      width: 50%;
      font-size: inherit;

      border-radius: 5px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
    }
  }

  .title {
    border-bottom: solid;
    border-width: 1px;
    font-size: 14px;

    #name {
      font-weight: bold;
    }
  }

  .bar {
    padding: 5px 4px;
    border: solid 1px black;
    border-radius: 3px;
    margin: 3px 0px;
    width: -webkit-fill-available;
    font-size: inherit;
    font-family: inherit;
    color: inherit;

    &::placeholder {
      opacity: 1;
      color: black;
    }
  }

  .attributesWrapper {
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .attributesAccordion {
    &.Mui-expanded {
      margin: 0px 0px 2px 0px;
      border-bottom: 1px solid black;
      padding-bottom: 3px;
    }
    &.MuiPaper-elevation1 {
      box-shadow: none;
    }
    &.MuiAccordion-rounded:last-child {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .attribute {
      padding: 2px 4px;
      border-bottom: 1px solid black;
      width: auto;
      height: 20px;
      font-size: 11px;
      min-height: 25px;

      &.Mui-expanded {
        min-height: 25px;
        margin: 0px 0px;
        box-shadow: 2px 2px 6px #afafaf;
      }
    }

    .accordionDetails {
      display: block;
      padding: 2px 4px;
      font-size: 10px;
      width: 90%;
      margin: 0px auto;
    }
  }

  .nullAmountValue {
    float: right;
    right: 0px;
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid black;
  }

  .visualisationEye {
    height: 10px;
    width: auto;
    margin-top: 2px;
    padding-right: 5px;
  }

  .expandIcon {
    height: 10px;
    width: auto;
  }

  .rightSideValue {
    float: right;
  }

  .attributeButtons {
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 2px;
  }
}

/* Filter bar */
.attributesAccordion {
  .filterbarSummary {
    padding: 2px 0px;
    width: auto;
    height: 15px;
    font-size: 11px;
    min-height: 15px;

    &.Mui-expanded {
      min-height: 15px;
      margin: 0px 0px;
      border-bottom: 1px solid black;
    }
  }
  .accordionDetailsFilterbar {
    padding: 4px 2px 2px 2px !important;
    width: 100% !important;
  }
}

.filterbarAccordion {
  &.Mui-expanded {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
}

.dataTypeSelect {
  font-size: 10px;
  font-family: inherit;
  padding: 0px 1px !important;
  border-color: black;
}

.predicateSelect {
  padding: 0px !important;
  width: 25%;
  margin-right: 3px;
}

.nullValuesBox {
  border: 1px solid black !important;
  border-radius: 2px;
  width: 30%;
  height: 15px;
  padding: 0px !important;

  input:focus {
    border-radius: none !important;
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}

.nullValuesSelect {
  border: none !important;
  border-radius: 2px;
  width: 60%;
  height: 11px !important;
  margin: auto 1px;
  font-size: 9px !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #e9e9e9;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e9e9e9;
}

*::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
  border: 3px solid #e9e9e9;
}
