/* This file is dependent on src/data/domain/entity/customization/colours.tsx 
*  You can match a class name with a colour palette by naming the class 'menuList-' + colour palette name
*/

.menuList-default{
    .MuiPaper-root{
        background-color: #fffdfa;
        color: #000000;
    }
}

.menuList-dark{
    .MuiPaper-root{
        background-color: #171721;
        color: #ffffff;
    }
}